{% extends "cmumc/base.html" %}

    {% block nav1 %}
    <!-- Navigation -->
    <nav class="navbar navbar-default navbar-fixed-top topnav" role="navigation">
        <div class="container topnav">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <a class="navbar-brand topnav" href="{% url 'index' %}">CMUMC</a>
            </div>
        </div>
        <!-- /.container -->
    </nav>
    {% endblock %}
    

    {% block content %}
    <div class="content-section-c">

        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-sm-6 login_container controls boxed line-top">
                    <p class="error">
                        {% for error in form.non_field_errors %}
                            {{ error }}
                        {% endfor %}
                    </p>
                    <form class="form-signin" method="post" action="{% url 'password_change' %}">
                        <h2 class="form-signin-heading">Change Password</h2>
                        <table class="form_table">
                            {% for field in form.visible_fields %}
                            <tr>
                                <td>{{ field.label_tag }}</td>
                                <td>{{ field }}</td>
                                <td class="error">{{ field.errors }}</td>
                            </tr>
                            {% endfor %}
                            {% for field in form.hidden_fields %}
                                {{field}}
                            {% endfor %}
                        </table>
                        <div class="text-center">
                            <span class="btn">
                                <input type="submit" id="changepwd_btn" class="gradient" value="Change">
                            </span>
                        </div>
                        {% csrf_token %}
                    </form>
                </div>
            </div>
        </div>

    </div> 
    {% endblock %}
