{% extends "cmumc/base2.html" %}

    {% block usermenu %}
    {% endblock %}

	{% block content %}
	<div class="top_container">
		<div class="send_post_header">
			<h3>Send SMS to <a href="{% url 'profile' user.username %}">{{ post.created_user }}</a></h3>
		</div>
		{% if msgs %}
			{% for msg in msgs %}
			<p class="form-msg">{{ msg }}</p>
			{% endfor %}
		{% endif %}
		{% comment %}
		<div >
			<form class="form-send-post controls boxed line-top" method="post" action="{% url 'sendMessage' post.post_id %}">
				<p class="error">
	                {% for error in form.non_field_errors %}
	                    {{ error }}
	                {% endfor %}
	            </p>
	            <table class="form_table">
	            <tr>
	            	<td id="id_body">{{ form.body.label_tag }}</td>
	            	<td>{{ form.body }}</td>
	            	<td>{{ form.errors }}</td>
	            </tr>
	            </table>
	            <input type="hidden" name="post_id" value="{{ post.post_id }}">
	            <div class="text-center">
					<span class="btn">
						<input type="submit" id="create_btn" class="gradient" value="Send Message">
					</span>
				</div>
                {% csrf_token %}
	        </form>
		</div>
		{% endcomment %}
	</div>
    {% endblock %}