<div class="modal fade" id="contactModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<form class="well contact-form" method="post" action="{% url 'contact' profile.user.username %}">
		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal">×</button>
			<h3>Send SMS to <a href="{% url 'profile' user.username %}">{{ profile.user.username }}</a></h3>
		</div>
		<div class="modal-body">
	        <table class="form_table">
	        <tr>
	        	<td id="id_body">Message:</td>
	        	<td>
	        		<textarea name="body" required></textarea>
	        	</td>
	        </tr>
	        </table>
	        <input type="hidden" name="username" value="{{ profile.user.username }}">
	        {% csrf_token %}
		</div>
		<div class="modal-footer">
	        <div class="text-center">
				<span class="btn">
					<input type="submit" id="create_btn" class="gradient" value="Send Message">
				</span>
			</div>
		</div>
	</form>
</div>
