{% extends "cmumc/base2.html" %}

    {% block usermenu %}
    {% endblock %}

	{% block content %}
	<div class="top_container">
		<h3 class="send_post_header">
			{% if profile.user_type == 'H' %}
				I can help!
			{% elif profile.user_type == 'R' %}
				I need help!
			{% endif %}
		</h3>
	    <div>
	        <form class="form-send-post" method="post" action="{% url 'create' %}">
	            <p class="error">
                    {% for error in form.non_field_errors %}
                        {{ error }}
                    {% endfor %}
                </p>
	            <table class="form_table">
				<tr>
					<td>{{ form.title.label_tag }}</td>
					<td>{{ form.title }}</td>
					<td>{{ form.title.errors }}</td>
				</tr>
				<tr>
					<td>{{ form.description.label_tag }}</td>
					<td>{{ form.description }}</td>
					<td>{{ form.description.errors }}</td>
				</tr>
				<tr>
					<td>{{ form.category.label_tag }}</td>
					<td>{{ form.category }}</td>
					<td>{{ form.category.errors }}</td>
				</tr>
				<tr>
					<td>{{ form.date.label_tag }}</td>
					<td>{{ form.date }} <span> (Format:"mm/dd/yyyy")</span></td>
					<td>{{ form.date.errors }}</td>
					
				</tr>
				<tr>
					<td>{{ form.time.label_tag }}</td>
					<td>{{ form.time }} <span> (Format:"24:00")</span></td>
					<td>{{ form.time.errors }}</td>
				</tr>
				<tr>
					<td>{{ form.location.label_tag }}</td>
					<td>{{ form.location }}</td>
					<td>{{ form.location.errors }}</td>
				</tr>
				<tr>
					<td>{{ form.price.label_tag }}</td>
					<td>{{ form.price }}</td>
					<td>{{ form.price.errors }}</td>
				</tr>
				<tr>
					<td>{{ form.bio.label_tag }}</td>
					<td>{{ form.bio }}</td>
					<td>{{ form.bio.errors }}</td>
				</tr>
				<tr>
					<td>{{ form.photo.label_tag }}</td>
					<td>{{ form.photo }}</td>
					<td>{{ form.photo.errors }}</td>
				</tr>
	            </table>
				<input type="submit" id="create_btn" class="btn btn-lg btn-primary btn-block" value="Create">
                {% csrf_token %}
	        </form>
	    </div> 
	</div>
    {% endblock %}