{% extends "cmumc/base2.html" %}

	{% block content %}
	        <div class="col-mid-9 col75">
	        <div class="panel panel-default">
				<h3 class="content_title panel-heading">My Post</h3>
			    <div class="profile">
			        <form class="form-profile" method="post" action="{% url 'editPost' post.post_id %}" enctype="multipart/form-data">
			            <p class="error">
		                    {% for error in form.non_field_errors %}
		                        {{ error }}
		                    {% endfor %}
		                </p>
			            <table class="form_table">
						<tr>
							<td>{{ form.title.label_tag }}</td>
							<td>{{ form.title }}</td>
							<td>{{ form.title.errors }}</td>
						</tr>
						<tr>
							<td>{{ form.description.label_tag }}</td>
							<td>{{ form.description }}</td>
							<td>{{ form.description.errors }}</td>
						</tr>
						<tr>
							<td>{{ form.category.label_tag }}</td>
							<td>{{ form.category }}</td>
							<td>{{ form.category.errors }}</td>
						</tr>
						<tr>
							<td>{{ form.location.label_tag }}</td>
							<td>{{ form.location }}</td>
							<td>{{ form.location.errors }}</td>
						</tr>
						<tr>
							<td>{{ form.date.label_tag }}</td>
							<td>{{ form.date }}</td>
							<td>{{ form.date.errors }}</td>
						</tr>
						<tr>
							<td>{{ form.time.label_tag }}</td>
							<td>{{ form.time }}</td>
							<td>{{ form.time.errors }}</td>
						</tr>
						<tr>
							<td>{{ form.price.label_tag }}</td>
							<td>{{ form.price }}</td>
							<td>{{ form.price.errors }}</td>
						</tr>
						<tr>
							<td>{{ form.post_photo.label_tag }}</td>
							<td>{{ form.post_photo }}</td>
							<td>{{ form.post_photo.errors }}</td>
						</tr>
			            </table>
			            <div class="text-center">
							<span class="btn">
								<input type="submit" id="edit_post_btn" class="gradient" value="Edit">
							</span>
						</div>
                        {% csrf_token %}
			        </form>
			        <div class="text-center">
			        	<span><a href="{% url 'deletePost' post.post_id %}" class="btn"><span class="gradient" id="delete_post_btn">Delete</span></a></span>
			        </div>
			    </div> 
			    </div>
    		</div>

    	</div>
    </div>
    {% endblock %}