{% extends "cmumc/base.html" %}

    {% block content %}
    {% load static %}
    <!-- Header -->
    <a name="about"></a>
    <div class="intro-header">
        <div class="container">

            <div class="row">
                <div class="col-lg-12">
                    <div class="intro-message">
                        <h1>CMUMC</h1>
                        <h3>Crowdsourcing Your Time</h3>
                        <hr class="intro-divider">
						<button type="button" id="landing_tour">Get Started</button>
                    </div>
                </div>
            </div>

        </div>
        <!-- /.container -->
    </div>
    <!-- /.intro-header -->

    <!-- Page Content -->

    <a  name="services"></a>
    <div class="content-section-a">

        <div class="container">
            <div class="row">
                <div class="col-lg-5 col-sm-6">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h2 class="section-heading tour-helper">Become a Helper!</h2>
                    <h3 class="section-heading">Use Your Time Wisely</h3>
                    <p class="lead">Got an hour between classes with nothing to do? Check CMUMC to see if you can help someone!</p>
                </div>
                <div class="col-lg-5 col-lg-offset-2 col-sm-6">
                    <img class="img-responsive" src="{% static 'cmumc/img/index_img1.jpg' %}" alt="index bg">
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.content-section-a -->

    <div class="content-section-b">

        <div class="container">

            <div class="row">
                <div class="col-lg-5 col-lg-offset-1 col-sm-push-6  col-sm-6">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h2 class="section-heading tour-receiver">Become a Receiver!</h2>
                    <h3 class="section-heading">Get Personalized Help</h3>
                    <p class="lead">Worried that TA is not always available? Check out CMUMC to get help!</p>
                </div>
                <div class="col-lg-5 col-sm-pull-6  col-sm-6">
                    <img class="img-responsive" src="{% static 'cmumc/img/stu.png' %}" alt="students">
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.content-section-b -->
    {% endblock %}