{% extends "cmumc/base.html" %}

    {% block content %}
    <div class="content-section-c">

        <div class="container">
            <div class="row">
                <div class="login_container controls boxed line-top">

                	{% if form.errors %}
                        <p class="errors">
                    	Incorrect user name and password.
                    	</p>
                    {% endif %}

                    <form class="form-signin" method="post" action="{% url 'login' %}">
                        <h2 class="form-signin-heading">Login here</h2>
                        <table class="form_table">
                            <tr>
                                <td>{{ form.username.label_tag }}</td>
                                <td>{{ form.username }}</td>
                            </tr>
                            <tr>
                                <td>{{ form.password.label_tag }}</td>
                                <td>{{ form.password }}</td>
                            </tr>
                        </table>
                        <a href="{% url 'reset' %}" ><p class="text--center">Forgot Password?</p></a>
                        <div class="text-center">
                            <span class="btn">
                                <input type="submit" id="login_btn" class="gradient" value="Log in">
                            </span>
                        </div>
                        {% csrf_token %}
                    </form>
                </div>
            </div>
        </div>

    </div> 
    {% endblock %}
