{% extends "cmumc/base.html" %}

	{% block nav1 %}
    <!-- Navigation -->
    <nav class="navbar navbar-default navbar-fixed-top topnav" role="navigation">
        <div class="container topnav">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <a class="navbar-brand topnav" href="{% url 'index' %}">CMUMC</a>
            </div>
        </div>
        <!-- /.container -->
    </nav>
	{% endblock %}


	{% block content %}
    <div class="content-section-b mode_container">
	    <div class="container">
		    <form class="form-mode-H" method="post" action="{% url 'mode' %}">
		    	<input type="hidden" name="mode" value="H" />
		    	<div type="submit" class="mode_option" value="H" role="button">
			        <div class="col">
			            <div class="col-lg-6 col-sm-6 mode_helper_container">
			            	<h3 class="mode_des">Helper's Mode</h3>
			            </div>
			        </div>
			    </div>
			    {% csrf_token %}
			</form>

			<form class="form-mode-R" method="post" action="{% url 'mode' %}">
				<input type="hidden" name="mode" value="R" />
			    <div type="submit" class="mode_option" value="R" role="button">
			        <div class="col">
			    		<div class="col-lg-6 col-sm-6 mode_receiver_container">
			    			<h3 class="mode_des">Receiver's Mode</h3>
			    		</div>
			    	</div>
		    	</div>
		    	{% csrf_token %}
		    </form>
	    </div>
    </div>
	{% endblock %}