{% extends "cmumc/base2.html" %}

    {% block content %}
            <div class="col-mid-9 col75">
                	<h3 class="content_title">My Task</h3>
                  <table id="tasks-table" class="table tbale-bordered table--highlighted flush--bottom">
                    <thead>
                      <tr>
                        <th class="text--center"></th>
                        <th>Title</th>
                        <th>Poster</th>
                        <th>Category</th>
                        <th>Price</th>
                        <th>Status</th>
                        </tr>
                      </tr>
                    </thead>

                    {% for post in posts %}

                    <tbody class="align--top">
                      {% if post.status == 'A' %}
                        <tr data-toggle="collapse" data-target="#post_id" role="button" aria-expanded="false" aria-controls="post_id">
                          <td class="text--center">
                            <span class="glyphicon glyphicon-triangle-bottom"></span>
                          </td>
                          <td>{{ post.title }}</td>
                          <td>{{ post.created_by }}</td>
                          <td>{{ post.category }}</td>
                          <td>${{ post.price }}</td>
                          <td>{{ post.status }}</td>
                        </tr>
                        
                      {% elif post.status == 'NC' %}
                        <tr class="hard" >
                          <td colspan="8" class="colspan-nopaddingtop">
                            <div id="post_id" class="collapse in">
                              <div class="task-expand">
                                <div class="col60">
                                  <p>Description: {{post.description}}</p>
                                </div>
                                <div class="col40">
                                 <a href="{#% url 'editPost' post.id %#}"><button id="edit_post_btn" class="btn btn-md btn-primary btn-block" >Edit</button></a>
                                 <a href="{#% url 'deletePost' post.id %#}"><button id="delete_post_btn" class="btn btn-md btn-primary btn-block" >Delete</button></a>
                                </div>
                              </div>
                            </div>
                          </td>
                        </tr>

                      {% elif post.status == 'I' %}
                        <tr class="hard" >
                          <td colspan="8">
                          <div id="post_id" class="collapse in">
                            <div class="task-expand">
                              <form>
                                <div class="col60">
                                    <div notes="http://stackoverflow.com/questions/5924988/radio-buttons-in-django-forms"></div>
                                    <div class="accept_list_options form-check">
                                      <input type="radio" name="requester" value="{{ post.accept_list }}" class="form-check-input"> Requester1: Username</input>
                                    </div>
                                    <div class="accept_list_options form-check">
                                      <input type="radio" class="form-check-input"> Requester2: Username</input>
                                    </div>
                                </div>
                                <div class="col40">
                                 <a href="{#% url 'accept' post.id %#}"><button id="edit_post_btn" class="btn btn-md btn-primary btn-block" >Confirm</button></a>
                                </div>
                              </form>
                            </div>
                          </div>
                          </td>
                        </tr>

                      {% elif post.status == 'C' %}
                        <tr class="hard" >
                          <td colspan="8">
                            <div id="post_id" class="collapse in">
                              <div class="task-expand">
                                <div class="col60">
                                  <p>Description: {{post.description}}</p>
                                </div>
                                <div class="col40">
                                 <a href="{#% url 'complete' post.id %#}"><button id="edit_post_btn" class="btn btn-md btn-primary btn-block" >Complete</button></a>
                                </div>
                              </div>
                            </div>
                          </td>
                        </tr>

                        <tr class="hard" >
                          <td colspan="8">
                            <div id="post_id" class="collapse in">
                              <div class="task-expand">
                              <div class="col60">
                                <p>Description: {{post.description}}</p>
                              </div>
                              <div class="col40">
                               <a href=""><button id="edit_post_btn" class="btn btn-md btn-primary btn-block" >Rate</button></a>
                              </div>
                            </div>
                          </td>
                        </tr>

                      {% endif %}


                    </tbody>

                    {% endfor %}

                  </table>
            </div>

        </div>
    </div>
    {% endblock %}