{% extends "cmumc/base.html" %}

	{% block content %}
    <div class="content-section-b">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-sm-12">

				    <h3 class="description">A confirmation email has been sent to your cmu email address</h3>
				    <h3 class="description">Please click the link in the email to verify your email address and complete the registration of your account for CMUMC</h3>

    			</div>
    		</div>
    	</div>
    </div>
    {% endblock %}
