{% extends "cmumc/base.html" %}

    {% block nav2 %}
    {% endblock %}

    {% block content %}
    <!-- changepwd area -->
    <div class="content-section-b">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-sm-4 reset_container">
                    <h1 class="form-signin-heading">Password Reset</h1>
                    <form action="{% url 'reset' %}" method="POST">
                        <p class="error">
                            {% for error in form.non_field_errors %}
                                {{ error }}
                            {% endfor %}
                        </p>
                        <table class="change_pwd_table">
                            {% for field in form.visible_fields %}
                            <tr>
                                <td>{{ field.label_tag }}</td>
                                <td>{{ field }}</td>
                                <td class="error">{{ field.errors }}</td>
                            </tr>
                            {% endfor %}
                            {% for field in form.hidden_fields %}
                                {{field}}
                            {% endfor %}
                        </table>
                        <div class="btn_group change_pwd_btn_group">
                            <input type="submit" value="SEND EMAIL" class="btn btn-primary btn-lg btn-block" id="change_btn">
                        </div>
                        {% csrf_token %}
                    </form>
                </div>
            </div>
        </div>
    </div>
    {% endblock %}

{% block bloggingarea %}{% endblock %}