{% extends "cmumc/base2.html" %}

    {% block usermenu %}
    <div class="container top_container">
        <div class="row">
            <div class="col-mid-3 col25 usermenu_col">
                <div class="profile_info">
                    <a href="{% url 'profile' user.username %}"><img src="{% url 'photo' user.username %}" alt="{{ user.username }}" class="img-circle avatar_profile"></a>
                    <h3 class="profile_username">{{ profile.user }}</h3>
                </div>
                <div class=usermenu_options>
                    <div class="option">
                        <h4>Name: {{ user.first_name }} {{ user.last_name }}</h4>
                    </div>
                    <div class="option">
                        <h4>Year: {{ profile.year_in_school }}</h4>
                    </div>
                    <div class="option">
                        <h4>Major: {{ profile.major }}</h4>
                    </div>
                    <div class="option">
						            <h4>Bio: <p>{{ profile.bio }}</p></h4>
                    </div>
                    <div class="option">
                        <h4>User type: <p>{{ profile.user_type }}</p></h4>
                    </div>
                </div>  
            </div>
    {% endblock %}

    {% block content %}
            <div class="col-mid-9 col75">
                <div class="row">
                	<h3 class="content_title">Task Posted</h3>
                	<div class="posts">
					        {% for post in posts %}  
                  <div class="row row-post">
                			<div class="col-mid-3 col25">
                				<a href="{% url 'viewPost' post.post_id %}"><a href=""><img src="{#% url 'photo' post.photo %#}" class="img-rounded img-responsive post_photo"></a>
                			</div>
               				<div class="col-mid-3 col75">
               					<div class="col-mid-9 col75">
               						<a href="{% url 'viewPost' post.post_id %}"><h3>{{ post.title }}</h3></a>
               						<p>Location: {{ post.location }}</p>
               						<p>Time: {{ post.time }}</p>
               						<p>Date: {{ post.date }}</p>
               						<p>Posted by: {{ post.created_user }}</p>
               					</div>
           						<div class="col-mid-3 col25">
           							<h1>${{ post.price }}</h1>
               					</div>
                			</div>
                  </div>
           			  {% endfor %}
                	</div>
                </div>
                <div class="row">
                	<h3 class="content_title">Rating &amp; Reviews</h3>
                </div>
            </div>

        </div>
    </div>
    {% endblock %}