<div class="modal fade" id="rateModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<form class="well contact-form" method="post" action="{% url 'rateTask' post.post_id %}">
		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal">×</button>
			{% if post.task.helper.username == user.username %}
				<h3>Rate <a href="{% url 'profile' post.task.receiver %}">{{ post.task.receiver }}</a></h3>
			{% elif post.task.receiver.username == user.username %}
				<h3>Rate <a href="{% url 'profile' post.task.helper %}">{{ post.task.helper }}</a></h3>
			{% endif %}
		</div>
		<div class="modal-body">
			{% if form.non_field_errors %}
			<p class="error">
	            {% for error in form.non_field_errors %}
	                {{ error }}
	            {% endfor %}
	        </p>
	        {% endif %}
	        <table class="form_table">
		        <tr>
		        	<td>
						<select class="star_rating">
							<option value="1">1</option>
							<option value="2">2</option>
							<option value="3">3</option>
							<option value="4">4</option>
							<option value="5">5</option>
						</select>
		        	</td>
		        </tr>
		        <tr>
		        	<td id="id_review">Review:</td>
		        	<td>
						<textarea name="review" required></textarea>
		        	</td>
		        </tr>
	        </table>
	        <input type="hidden" name="post" value="{{ post.post_id }}">
	        {% if post.task.receiver.username == user.username %}
				<input type="hidden" name="rated_user_type" value="H">
			{% else %}
				<input type="hidden" name="rated_user_type" value="R">
			{% endif %}
			<input type="hidden" id="rating_score" name="score" value="5">
	        {% csrf_token %}
		</div>
		<div class="modal-footer">
	        <div class="text-center">
				<span class="btn">
					<input type="submit" id="create_btn" class="gradient" value="Rate">
				</span>
			</div>
		</div>
	</form>
</div>
