{% extends "cmumc/base.html" %}

    {% block content %}
    <div class="content-section-b">

        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-sm-6 login_container">
                    <p class="error">
                        {% for error in form.non_field_errors %}
                            {{ error }}
                        {% endfor %}
                    </p>
                    <form class="form-signin" method="post" action="{% url 'reset' %}">
                        <h2 class="form-signin-heading">Reset Password</h2>
                        <table class="form_table">
                            <tr>
                                <td>{{ form.email.label_tag }}</td>
                                <td>{{ form.email }}</td>
                                <td class="error">{{ form.email.errors }}</td>
                            </tr>
                        </table>
                        <div class="text-center">
                            <span class="btn">
                                <input type="submit" id="changepwd_btn" class="gradient" value="Send">
                            </span>
                        </div>
                        {% csrf_token %}
                    </form>
                </div>
            </div>
        </div>

    </div> 
    {% endblock %}
