{% extends "cmumc/base.html" %}

	{% block content %}
    <div class="content-section-b">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-sm-12">

                    <h2 class="form-signin-heading">Reset Password Complete</h2>
				    <h3 class="description">Your password has been reset. You may go ahead and log in now.</h3>
				    <a href="{% url 'login' %}"><button id="login_btn" class="btn btn-lg btn-primary btn-block" >Login</button></a>
    			</div>
    		</div>
    	</div>
    </div>
    {% endblock %}
