{% extends "cmumc/base2.html" %}

	{% block header %}
	<div class="container top_container">
		<div class="row">
			<div class="col75">
		        <div class="sidebar-search">
		            <div class="input-group custom-search-form">
		                <input type="text" class="form-control" placeholder="Search...">
		                <span class="input-group-btn">
		                <button class="btn btn-default" type="button">
		                    <i class="fa fa-search"></i>
		                </button>
		            </span>
		            </div>
		            <!-- /input-group -->
		        </div>
	        </div>
	        <div class="col25">
	        	<a href="{% url 'create' %}"><button id="post_btn" class="btn btn-md btn-primary btn-block" >Post</button></a>
	        </div>
		</div>
	</div>
    {% endblock %}

    {% block usermenu %}
    {% endblock %}

	{% block content %}
            <div class="navbar-default sidebar" role="navigation">
                <div class="sidebar-nav navbar-collapse">
                    <ul class="nav" id="side-menu">
                        <li>
                            <p class="stream_title">Filter by</p>
                        </li>
                        <li>
                            <a href="#">Task type<span class="fa arrow"></span></a>
                            <ul class="nav nav-second-level">
                                <li>
                                    <a>Tutoring</a>
                                </li>
                                <li>
                                    <a>Driving</a>
                                </li>
                                <li>
                                    <a>Others</a>
                                </li>
                            </ul>
                            <!-- /.nav-second-level -->
                        </li>
                        <li>
                            <a href="#">Date<span class="fa arrow"></span></a>
                            <ul class="nav nav-second-level">
                                <li>
                                    <a>Monday</a>
                                </li>
                                <li>
                                    <a>Tuesday</a>
                                </li>
                                <li>
                                    <a>Wednesday</a>
                                </li>
                                <li>
                                    <a>Thursday</a>
                                </li>
                                <li>
                                    <a>Friday</a>
                                </li>
                            </ul>
                            <!-- /.nav-second-level -->
                        </li>
                        <li>
                            <a href="#">Time<span class="fa arrow"></span></a>
                            <ul class="nav nav-second-level">
                                <li>
                                    <a>Morning</a>
                                </li>
                                <li>
                                    <a>Afternoon</a>
                                </li>
                                <li>
                                    <a>Evening</a>
                                </li>
                            </ul>
                            <!-- /.nav-second-level -->
                        </li>
                        {% comment %}
                        <li>
                            <a href="#">Location<span class="fa arrow"></span></a>
                            <ul class="nav nav-second-level">
                                <li>
                                    <a>Hunt</a>
                                </li>
                                <li>
                                    <a>Gates</a>
                                </li>
                                <li>
                                    <a>Others</a>
                                </li>
                            </ul>
                            <!-- /.nav-second-level -->
                        </li>
                        {% endcomment %}
                    </ul>
                </div>
                <!-- /.sidebar-collapse -->
            </div>
            <!-- /.navbar-static-side -->

	        <div id="page-wrapper">
	            <div class="row">
	                <div class="col-lg-12">
                    {% if user.profile.user_type == 'H' %}
	                    <h1 class="page-header">Welcome Helper</h1>
                    {% elif user.profile.user_type == 'R' %}
                        <h1 class="page-header">Welcome Receiver</h1>
                    {% endif %}
	                </div>
	                <!-- /.col-lg-12 -->
                	<div class="posts">
						{% for post in posts %}  
                        <div class="row row-post">
                			<div class="col-mid-3 col25">
                				<a href="{% url 'viewPost' post.post_id %}"><img src="{#% url 'photo' post.photo %#}" class="img-rounded img-responsive post_photo"></a>
                			</div>
               				<div class="col-mid-3 col75">
               					<div class="col-mid-9 col75">
               						<a href="{% url 'viewPost' post.post_id %}"><h3>{{ post.title }}</h3></a>
               						<p>Location: {{ post.location }}</p>
               						<p>Time: {{ post.time }}</p>
               						<p>Date: {{ post.date }}</p>
               						<p>Posted by: {{ post.created_user }}</p>
               					</div>
           						<div class="col-mid-3 col25">
           							<h1>${{ post.price }}</h1>
               					</div>
                			</div>
                        </div>
						{% endfor %}
                	</div>
	            </div>

    {% endblock %}
