{% extends "cmumc/base2.html" %}

    {% block header %}
    <div class="container top_container">
    	<div class="row">
    		<div class="col75">
                <input type="text" class="form-control"  placeholder="Search" >
                <span class="input-group-addon">
                    <button type="submit">
                        <span class="glyphicon glyphicon-search"></span>
                    </button>  
                </span>
    		</div>
    		<div class="create_post col25">
	    		{% if user_profile.user_type == "H" %}
	    			<a href="{% url 'create' %}"><button id="post_btn" class="btn btn-lg btn-primary btn-block" >Post Offer</button></a>
	    		{% elif user_profile.user_type == "R" %}
	    			<a href="{% url 'create' %}"><button id="post_btn" class="btn btn-lg btn-primary btn-block" >Post Request</button></a>
	    		{% endif %}
    		</div>
    	</div>
    </div>
    {% endblock %}

	{% block content %}
	        <div class="col-mid-9 col75">
				<h3 class="content_title">My Info</h3>
			    <div class="profile">
			        <form class="form-profile" method="post" action="{% url 'edit_profile' %}">
			            <table>
						<tr>
							<td>{{ user_form.username.label_tag }}</td>
							<td>{{ user_form.username }}</td>
						</tr>
						<tr>
							<td>{{ user_form.first_name.label_tag }}</td>
							<td>{{ user_form.first_name }}</td>
						</tr>
						<tr>
							<td>{{ user_form.last_name.label_tag }}</td>
							<td>{{ user_form.last_name }}</td>
						</tr>
						<tr>
							<td>{{ profile_form.year.label_tag }}</td>
							<td>{{ profile_form.year }}</td>
						</tr>
						<tr>
							<td>{{ profile_form.major.label_tag }}</td>
							<td>{{ profile_form.major }}</td>
						</tr>
						<tr>
							<td>{{ profile_form.email.label_tag }}</td>
							<td>{{ profile_form.email }}</td>
						</tr>
						<tr>
							<td>{{ profile_form.phone.label_tag }}</td>
							<td>{{ profile_form.phone }}</td>
						</tr>
						<tr>
							<td>{{ profile_form.bio.label_tag }}</td>
							<td>{{ profile_form.bio }}</td>
						</tr>
						<tr>
							<td>{{ profile_form.photo.label_tag }}</td>
							<td>{{ profile_form.photo }}</td>
						</tr>
			            </table>
						<input type="submit" id="edit_profile_btn" class="btn btn-lg btn-primary btn-block" value="Edit">
                        {% csrf_token %}
			        </form>
			    </div> 
    		</div>

    	</div>
    </div>
    {% endblock %}