{% extends "cmumc/base2.html" %}

    {% block usermenu %}
    {% endblock %}

	{% block content %}
	<div class="container top_container">
		<div class="container view_post_head_container">
		    <div class="col-lg-12 col60">
				<div class="view_post_header">
					<p class="title">
						{{ post.title }}
					</p>
					<p>
						{{ post.created_time }}
					</p>
				</div>
			</div>
			<div class="col-lg-12 col40">
				<div class="view_post_header2">
					<div class="col-lg-12 col60">
						<div class="row">
							<a href="{% url 'profile' user.username %}"><img src="{% url 'photo' post.created_user %}" alt="{{ user.username }}" class="img-circle avatar_post"></a>
						</div>
						<div class="row">
							<p class="created_user">Posted by {{ post.created_user }}</p>
						</div>
					</div>
					<div class="col-lg-12 col40">
						<span>Rating: </span>
						{# <input type="submit" id="contact_btn" class="btn btn-md btn-primary btn-block" value="Contact"> #}
						{% if user.username != post.created_user.username %}
						<a href="{% url 'sendMessage' post.post_id %}"><button id="contact_btn" class="btn btn-md btn-primary btn-block" >Contact</button></a>
						{% endif %}
					</div>
				</div>
			</div>
		</div>

	    <div class="container post_attrs">
	        <div class="post_attr">
	        	<h3>Description</h3>
	        	<p><span> {{ post.description }}</span></p>
	        </div>
	        <div class="post_attr">
	        	<h4 class="inline">Category: </h4><span>{{ post.category }}</span>	
	        </div>
	        <div class="post_attr">
	        	<h4 class="inline">Location: </h4><span>{{ post.location }}</spanp>	
	        </div>
	        <div class="post_attr">
	        	<h4 class="inline">Date: </h4><span>{{ post.date }}</span>	
	        </div>
	        <div class="post_attr">
	        	<h4 class="inline">Time: </h4><span>{{ post.time }}</span>	
	        </div>
	        <div class="post_attr">
	        	<h4 class="inline">Price: </h4><span>${{ post.price }}</span>	
	        </div>
		</div>

		{% if post.status == "A" or post.status == "NC" %}
			{% if user.profile.user_type == 'H' and user.username != post.created_user.username %}
				<a href="{% url 'acceptPost' post.post_id %}"><button id="post_btn" class="btn btn-md btn-primary btn-block" >Accept Request</button></a>
			{% elif user.profile.user_type == 'R' and user.username != post.created_user.username %}
				<a href="{% url 'acceptPost' post.post_id %}"><button id="post_btn" class="btn btn-md btn-primary btn-block" >Accept Offer</button></a>
			{% elif user.username == post.created_user.username %}
				<a href="{% url 'editPost' post.post_id %}"><button id="post_btn" class="btn btn-md btn-primary btn-block" >Edit</button></a>
			{% endif %}
		{% elif post.status == "I" %}
			<button id="post_btn" class="btn-block btn-unclickable" >In Progress</button>
		{% elif post.status == "C" %}
			<div id="post_btn" class="btn-block btn-unclickable" >Completed</div>
		{% endif %}


	</div>
    {% endblock %}