{% extends "cmumc/base2.html" %}

    {% block usermenu %}
    {% endblock %}

	{% block content %}
	<div class="container top_container">
		<div class="container view_post_head_container">
		    <div class="col-lg-12 col60">
				<div class="view_post_header">
					<p class="title">
						{{ post.title }}
					</p>
					<p>
						Created on
						{{ post.created_time }}
					</p>
				</div>
			</div>
			<div class="col-lg-12 col40">
				<div class="view_post_header2">
					<div class="col-lg-12 col60">
						<div class="row">
							<a href=""><img src="{#% url 'photo' post.photo %#}" lass="img-rounded post_photo"></a>
						</div>
						<div class="row">
							<p class="created_user">Created by {{ post.created_user }}</p>
						</div>
					</div>
					<div class="col-lg-12 col40">
						<span>Rating: </span>
						{# <input type="submit" id="contact_btn" class="btn btn-md btn-primary btn-block" value="Contact"> #}
						<a href="{% url 'sendMessage' post.post_id %}"><button id="contact_btn" class="btn btn-md btn-primary btn-block" >Contact</button></a>
					</div>
				</div>
			</div>
		</div>

	    <div class="container post_attrs">
	        <div class="post_attr">
	        	<h3>Description</h3>
	        	<p><span> {{ post.description }}</span></p>
	        </div>
	        <div class="post_attr">
	        	<h3 class="inline">Category: </h3><span>{{ post.category }}</span>	
	        </div>
	        <div class="post_attr">
	        	<h3 class="inline">Location: </h3><span>{{ post.location }}</spanp>	
	        </div>
	        <div class="post_attr">
	        	<h3 class="inline">Date: </h3><span>{{ post.date }}</span>	
	        </div>
	        <div class="post_attr">
	        	<h3 class="inline">Time: </h3><span>{{ post.time }}</span>	
	        </div>
	        <div class="post_attr">
	        	<h3 class="inline">Price: </h3><span>${{ post.price }}</span>	
	        </div>
		</div>

		{% if user.profile.user_type == 'H' and user.username != post.created_user.username %}
			<a href="{% url 'acceptPost' %}"><button id="post_btn" class="btn btn-md btn-primary btn-block" >Accept Request</button></a>
		{% elif user.profile.user_type == 'R' and user.username != post.created_user.username %}
			<a href="{% url 'acceptPost' %}"><button id="post_btn" class="btn btn-md btn-primary btn-block" >Accept Offer</button></a>
		{% elif user.username == post.created_user.username %}
			<a href="{% url 'editPost' post.post_id %}"><button id="post_btn" class="btn btn-md btn-primary btn-block" >Edit</button></a>
		{% endif %}


	</div>
    {% endblock %}